// Mobile Break Point
@media (max-width:480px){
    .hb-header{
    width: 1000px;
    background-color: blue;
    border: 1px solid black;
    }
}
// Tablet Breakpoint
@media (max-width:768px){

    // CODE IN HERE
}

// Desktop Breakpoint
@media (max-width:1200px){
    // CODE IN HERE
}

